In [3]:
import pandas as pd

In [4]:
# change the <path_of_movie_list> with the path of movie list CSV file
data = pd.read_csv("<path_of_movie_list>")

In [5]:
data = data.loc[:, "title":]

In [6]:
data["otitle"] = data["title"]

In [8]:
allgenres = data["genres"].str.split("|").explode().unique()

In [9]:
data["year"] = data["title"].str.extract(r"([\(][0-9]+[\)])")

In [10]:
data["year"] = data["year"].str.extract(r"([0-9]+)").fillna("1995")

In [11]:
data["title"] = data["title"].str.replace(r"([\(][0-9]+[\)])", "", regex=True).str.rstrip()

In [12]:
data["engtitle"] = data["title"].str.replace(r"([\(][\w\d\s,./!-:']+[\)])", "", regex=True)

In [13]:
data["engtitle"] = data["engtitle"].str.strip()

In [14]:
data["engtitlerearrange"] = data["engtitle"].str.split(",").str[::-1].apply(lambda x: [i.strip() for i in x]).str.join(" ")

In [15]:
data["engtitleparenthesis"] = data["title"].str.extract(r"([\(][\w\s,./!-:']+[\)])").fillna("")

In [16]:
repl = lambda m: m.group(1).replace(",", "")

In [17]:
data["engtitleparenthesis"] = data["engtitleparenthesis"].str.replace(r"([0-9]+,)", repl, regex=True)

In [18]:
data["engtitleparenthesisrearrange"] = data["engtitleparenthesis"].str.replace(r"[\(\)]", "", regex=True)

In [19]:
data["engtitleparenthesisrearrange"] = data["engtitleparenthesisrearrange"].str.split(",").str[::-1]

In [20]:
data["engtitleparenthesisrearrange"] = data["engtitleparenthesisrearrange"].apply(lambda x: [i.strip() for i in x]).str.join(" ")

In [21]:
data["engtitleparenthesisrearrange"] = data["engtitleparenthesisrearrange"].apply(lambda x: (x if x == "" else f"({x})"))

In [22]:
data["engtitlecat"] = data["engtitlerearrange"].str.cat(data["engtitleparenthesisrearrange"], sep=" ")

In [23]:
data["title"] = data["engtitlecat"].str.strip()

In [24]:
data["genre"] = data["genres"].str.split("|").str.get(0)

In [25]:
data = data.drop(columns=
                 [
                     "otitle", 
                     "engtitle", 
                     "engtitlerearrange", 
                     "engtitleparenthesis",
                     "engtitleparenthesisrearrange",
                     "engtitlecat", 
                     "genres"
                 ]
            )

In [26]:
data = data[["title", "genre", "year"]]

In [27]:
data

                                                  title        genre  year
0                                             Toy Story    Adventure  1995
1                                               Jumanji    Adventure  1995
2                                      Grumpier Old Men       Comedy  1995
3                                     Waiting to Exhale       Comedy  1995
4                           Father of the Bride Part II       Comedy  1995
...                                                 ...          ...   ...
9120                                       Mohenjo Daro    Adventure  2016
9121                                      Shin Godzilla       Action  2016
9122  The Beatles: Eight Days a Week - The Touring Y...  Documentary  2016
9123                                  The Gay Desperado       Comedy  1936
9124                               Unboxed Women of '69  Documentary  1995

[9125 rows x 3 columns]